*.log
.DS_Store

# Environment
.env
.env.production
.env.backup

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Auth
/auth.json

# Dependencies
/vendor
/node_modules

# Build
/public/build
/public/hot

# Storage
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*

# Cache
/bootstrap/cache/*

# PHPUnit
.phpunit.result.cache